/* On importe les fonts si le navigateur ne les à pas */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* On importe la font tf2build sous le nom de tf2 */
@font-face {
  font-family: "tf2";
  src: url("../fonts/tf2build.ttf");
}
/* Pour utiliser la font : font-family: 'tf2', sans-serif; */
/* Simple reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "TF2";
}

body {
  height: 100%;
  min-height: 100vh; /* Important pour avoir un loader qui prends toute la page */
}

/* Début css du loader */
#loader {
  z-index: 999; /* On le met tout en haut niveau hierarchie*/
  
  font-family: 'Poppins', sans-serif; 
  color: #fff;
  
  position: fixed;
  top: 0;
  left: 0;
  
  height: 100vh;
  width: 100%;
  
  background: #111;
  
  display: flex;
  flex-direction: column;
  gap: 5%;

  text-align: center;

  align-items: center;
  justify-content: center;
  
  transition: opacity .2s ease-in-out;
}

.loaderLogo{
  align-items: center;
  width: 600px;
  height: auto;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.btn {
  padding: 15px 30px;
  background: #27272b;
  cursor: pointer;
}

.btn:hover {
  background: #222;
}
/* Fin css du loader */

.topnav {
  flex: 0 1 auto;
  background-color: #333;
  overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.middle {
  flex: 1 1 auto;
  background-image: url(../../data/image/BackgroundTF.png);
}

footer {
  padding: 2%;
  background-color: #27272b;
}

.imgLogo {
  background-image: url(../../data/image/logoTF2.png);
}