/* On importe les fonts si le navigateur ne les à pas */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

/* On importe la font tf2build sous le nom de tf2 */
@font-face {
  font-family: "tf2";
  src: url("../fonts/tf2build.ttf");
}
/* Pour utiliser la font : font-family: 'tf2', sans-serif; */
/* Simple reset css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "TF2";
}

/* Variables */
:root {
  --nav-height: 50px;
}

body {
  height: 100%;
  min-height: 100vh; /* Important pour avoir un loader qui prends toute la page */
}

/* Début css du loader */
#loader {
  z-index: 999; /* On le met tout en haut niveau hierarchie*/
  
  font-family: 'Poppins', sans-serif; 
  color: #fff;
  
  position: fixed;
  top: 0;
  left: 0;
  
  height: 100vh;
  width: 100%;
  
  background: #111;
  
  display: flex;
  flex-direction: column;
  gap: 5%;

  text-align: center;

  align-items: center;
  justify-content: center;
  
  transition: opacity .2s ease-in-out;
}

.loaderLogo{
  align-items: center;
  width: 600px;
  height: auto;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.btn {
  padding: 15px 30px;
  background: #27272b;
  cursor: pointer;
}

.btn:hover {
  background: #222;
}
/* Fin css du loader */

.topnav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  background-color: #333;
  overflow: hidden;
  height: var(--nav-height);
  width: 100%;
}

.topnav .img-logo img {
  height: calc(var(--nav-height) - 10px);
  object-fit: contain;
}
.topnav a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.middle {
  
  flex: 1 1 auto;
  background-color: #3C3D3F;
  background-image: url(../../data/image/BackgroundTF.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: calc(100vh - var(--nav-height));
}
.pag {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(100vw/3);
  height: 100vh;
}
footer {
  display: flex;
  gap: 25px;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 2%;
  background-color: #27272b;
}

footer a {
  color: #fff;
}
.imgLogo {
  background-image: url(../../data/image/logoTF2.png);
}